out
pnpm-lock.yaml
LICENSE.md
tsconfig.json
tsconfig.*.json

server
*Server

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Electron-Vite
out
.eslintcache
*.log*

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
